body {
    background-color: #000000;
}

/* 

.pageTitle h1 {
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 9, 129);
    color: white;
}

.pageTitle h3 {
    margin-top: 4%;
    text-align: center;
}

.buttonPad {
    margin-top: 4%;
    margin-bottom: 4%;
}

.footerClass {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
}

.footerText {
    text-align: center;
} */

@media only screen and (max-height: 600px) {
    /* Mobile Menu */
    .mattsnavbar {
        display: none;
    }
    .mobsocialList {
        position: fixed;
        right: 0;
    }
    .contentContainer {

        width: 100vw;
        margin-left: 0;
    }
}

@media only screen and (max-width: 990px) {
    .mobsocialList {
        position: static;
    }
}

@media only screen and (min-height: 600px) {
    /* Desktop Menu */
    .mattsmobnavbar {
        display: none;
    }
    .mattsnavbar {
        background: rgb(71,156,170);
        background: linear-gradient(90deg, rgba(4,60,85,1) 0%, rgba(1,18,60,1) 9%, rgba(23,26,33,1) 100%);
        z-index: 1;
        text-align: center;
        position: fixed;
        height: 100%;
        width: 20vw;
    }

    .mattsnavbar a {
        font: bold 40px arial, sans-serif;
        background-color: #ffffff;
        color: transparent;
        text-shadow: 2px 2px 3px rgba(10, 21, 48, 0.5);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;
    }
    .mattsnavbar a:hover {
        font: bold 40px arial, sans-serif;
        background-color: #000000;
        color: transparent;
        text-shadow: 0px 3px 1px rgb(255, 166, 64);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;
    }
    .mattsnavbar .mainLinks {
        margin-top: 8vh;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .mattsnavbar ul {
        padding: 0;
        list-style-type: none;
    }
       .socialList {
        position: fixed;
        bottom: 0.5vh;
    }
    .socialItem {
        margin-left: 3.2vw;
    }

    .socialItem img {
        width: 2.3vw;
        height: 2.3vw;
      }
    .contentContainer {
        color: white;
        padding-top: 10vh;
        padding-left: 20vw;
    }
    .contentContainer h1 {
        font-size: 3vw;
    }
    .contentContainer p {
        font-size: 1.4vw;
    }
    .glowCircle {
        transform-origin: 55vw 110vh; 
    }
    .spinR {
    -webkit-animation: rotatingR 60s linear infinite;
    }
    .spinL {
        -webkit-animation: rotatingL 60s linear infinite;
        }
        .wedgeClass {
            transform: rotate(90deg);
            transition: transform 2.35s;
        }
        .lineSpacing {
            padding-bottom: 3vh;
        }
}

@-webkit-keyframes rotatingL {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }
  
  @-webkit-keyframes rotatingR {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }