body {
    background-color: #f3f3f3;
}

.wrapLeft {
    float: left;
}

@media only screen and (max-height: 600px) {
    /* Mobile Menu */
    .mattsnavbar {
        display: none;
    }
    .mattsmobnavbar {
                /*Made with neumorphism.io*/
                border-radius: 0px;
                background: #f3f3f3;
                box-shadow:  6px 6px 12px #cacaca, 
                            -6px -6px 12px #ffffff;
    }

    .mobsocialList {
        position: fixed;
        right: 0;
    }
}
@media only screen and (max-width: 990px) {
    .mobsocialList {
        position: static;
        right: 0;
    }
}

@media only screen and (min-height: 600px) {
    /* Desktop Menu */
    .mattsmobnavbar {
        display: none;
    }
    .mattsnavbar {
        text-align: center;
        position: fixed;
        left: 10px;
        height: 100%;
        width: 60px;
        /*Made with neumorphism.io*/
        border-radius: 0px;
        background: #f3f3f3;
        box-shadow:  6px 6px 12px #cacaca, 
                    -6px -6px 12px #ffffff;
        }

    .mattsnavbar ul {
        line-height: 2;
        margin-left:5px;
        font-size: 12px;
        padding: 0;
        width: 50px;
        list-style-type: none;
    }

    .socialList {
      position: fixed;
      bottom: 0;
    }
}
